widget-background(image, width)
  background-image: url("/images/" + image)
  background-repeat: no-repeat
  background-size: contain
  width: width
  height: (width / aspect-ratio(image))

aspect-ratio(image)
  size = image-size("../images/" + image)
  size[0] / size[1]
