screen-scroll-button-width = 64px
topbar-height = 32px
gallery-button-width = 32px
pagination-dot-width = 32px
scroll-bar-width = 8px
scroll-bar-height = 256px
gallery-medium-width = 384px
gallery-medium-height = gallery-medium-width
