@require "../css/sizes.styl"

.cover
  &__top-menu
    position: absolute
    right: 0
    z-index: 99

  &__panel
    position: absolute
    bottom: 0
    z-index: 99

  &--full-height
    height: 100%

  &--full-height-with-topbar
    height: unquote("calc(100% - " + topbar-height + ")")
