@require "../css/sizes.styl"

.cover
  overlay()
    position: absolute
    z-index: 99

  &__top-menu
    overlay()
    right: 0

  &__panel
    overlay()
    bottom: 0

  &--full-height
    height: 100%

  &--full-height-with-topbar
    height: unquote("calc(100% - " + topbar-height + ")")
