@require "../css/helpers.styl"
@require "../css/sizes.styl"

.gallery
  position: relative
  overflow: hidden

  &__photo
    width: 100%
    height: 100%

    &--active
      display: block

    &--inactive
      display: none

  &__scroll-button
    z-index: 1

    button(direction)
      position: absolute
      top: 50%
      widget-background("ui/gallery-button-" + direction + ".svg", gallery-button-width)
      margin-top: (-@height / 2)

    &--left
      button(left)

    &--right
      button(right)
      right: 0

  &--circle
    border-radius: 50%

  &--full-width
    width: 100%

  &--full-width-and-height
    width: 100%
    height: 100%

  &--medium
    width: gallery-medium-width
    height: gallery-medium-height
