@require "../css/helpers.styl"
@require "../css/sizes.styl"

.pagination-dots
  margin: 16px

  &__dot
    display: inline-block
    margin: 0 3px

    &--active&--purple
      widget-background("ui/dot-filled--purple.svg", pagination-dot-width)

    &--inactive&--purple
      widget-background("ui/dot-unfilled--purple.svg", pagination-dot-width)

    &--active&--white
      widget-background("ui/dot-filled--white.svg", pagination-dot-width)

    &--inactive&--white
      widget-background("ui/dot-unfilled--white.svg", pagination-dot-width)
