@require "../css/colors.styl"

.screen
  position: relative
  height: 100vh

  &__scroll-button
    button(direction)
      position: absolute
      left: 50%
      widget-background("ui/scroll-button-" + direction + ".svg", screen-scroll-button-width)
      margin-left: (-@width / 2)

    &--up
      button(up)
      top: 0

    &--down
      button(down)
      bottom: 0

  &--purple
    background-color: main-color
    color: white
