@require "../css/colors.styl"
@require "../css/sizes.styl"

.topbar
  display: flex
  height: topbar-height

  &__item
    flex-grow: 1
    height: topbar-height
    padding: 8px
    color: white
    text-align: center
    text-decoration: none

  &--purple
    background-color: main-color
