@require "../css/colors.less"

.topbar
  display: flex
  height: 32px

  &__item {
    flex-grow: 1
    height: 32px
    padding: 8px
    color: white
    text-align: center
    text-decoration: none

  &--purple
    background-color: mainColor
